@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background: #ecf0f3;

}

.text-center{
    margin: 10px;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}

.calculator{
    margin: 10px;
    padding: 15px;
    background: black; 
    border-radius: 10px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.button{
    padding: 20px;
    margin: 0px 3px;
    border: 2px solid rgb(164, 249, 238);
    border-radius: 20px;
    cursor: pointer;
    width: 80px;
}

#ce{
    padding: 20px;
    margin: 0px 3px;
    border: 2px solid rgb(164, 249, 238);
    border-radius: 20px;
    cursor: pointer;
    width: 80px;
} 

.row {
    margin: 8px 0px;
}

.row input{
    width: 348px;
    font-size: 20px;
    margin:0;
    padding:10px 0px;
    border: 2px solid rgb(164, 249, 238);
    border-radius: 10px;
    text-align: right;
    font-size: 30px;
}